<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NBA Teams Application</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header>
    
    <nav>
      <div class="nav-container">
        <h1><a href="/home">NBA Teams</a></h1>
        <ul>
          <li><a href="/teams">Teams</a></li>
          <li><a href="/arenas">Arenas</a></li>
        </ul>
      </div>
        <div class="right-section">
  <form method="POST" action="/logout">
    <button type="submit" class="loguit">Log uit</button>
  </form>
</div>
    </nav>

  </header>
  <main>